<div class="bam-autorec-topbar">
    <input type="text" class="bam-search-input" id="bam-search-input" placeholder="{{searchPlaceholder}}" value="{{searchFilter}}" />
    <button type="button" id="bam-add-template-btn" class="bam-option-btn" title="Click or Drag & Drop an Actor here to create a new template" style="width: auto; padding: 5px 12px;">
        <i class="fas fa-plus"></i> {{addTemplateLabel}}
    </button>
    <button type="button" id="bam-reset-defaults-btn" class="bam-option-btn bam-option-finish" style="width: auto; padding: 5px 12px;">
        <i class="fas fa-rotate-left"></i> {{resetDefaultsLabel}}
    </button>
</div>
<div class="bam-autorec-body">
    <div class="bam-autorec-sidebar">
        {{{sidebarItemsHtml}}}
    </div>
    <div class="bam-autorec-inspector">
        {{{inspectorHtml}}}
    </div>
</div>
